body {
    height: 100vh;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

body * {
    position: absolute;
}

#starship {
    background: #333;
    height: 70vmin;
    width: 70vmin;
    border: solid 15px;
}

#poteau {
    background: aquamarine;
    height: 10vmin;
    width: 10vmin;
}

#player {
    background: orange;
    height: 4vmin;
    width: 3vmin;
}

#player::after {
    content: '';
    display: block;
    background: orangered;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 75%;
    border-radius: 0 100% 100% 0;
}
